body{

}

.container{
    display: flex;
    justify-content: flex-end;
    background-image: url("../rose.jpg");
    height: 620px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 20%; 
    padding-top: 5%;
}

header{
    border-bottom: 5px solid white;
    background-color: black;
}


.container h1{
    font-size: 45px;
    padding-right: 350px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 7px #000000;
    
}

.links a{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    padding-top: 10px;
    text-shadow: 5px 5px 7px #000000;
}

.container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.767);
    padding-top: 2%;
    padding-bottom: 2%;
}

.container2 h1{
    width: 50%;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 7px #000000;
    text-align: center;
    padding-top: 6%;
}

.container2 p{
    width: 50%;
    flex-shrink: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.container3{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    background-color: black;
}

.container3 .first_Pic{
    width: 50%;
    margin-right: 5%;
    order: 1;
    
}


.container3 .second_Pic{
    width: 25%;
    order: 3;
    
}

.container3 .third_Pic{
    width: 25%;
    margin-right: 50%;
    order: 4;
    
}


.container3 h1{
   width: 40%; 
   align-self: flex-start;
   order: 2;
   font-family: 'Courier New', Courier, monospace;
   color: white;
   text-shadow: 5px 5px 7px #000000;
   text-align: center;
   padding-top: 6%;
   font-size: 50px;

}

.container4{
    display: flex;
    align-items: center;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container4 h1{
    width: 50%;
    order: 1;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 5px 5px 7px #000000;
    text-align: center;
    font-size: 50px;
}

.container4 .phone{
    width: 12%;
    order: 2;
    flex-shrink: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.container4 .email{
    width: 10%;
    order: 2;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.container4 .linked{
    width: 10%;
    order: 2;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.container4 .git{
    width: 10%;
    order: 2;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
}

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    font-size: 35px;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: black;
}

.container5 .resume{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 5px 5px 7px #000000;
}